<link rel="stylesheet" href="../assets/css/app_home.css">


<h1>
    Doubt System Application
</h1>

<div id="userSetupPage">

    <a href="/dashboard" id="teacher-login-card" class="card">

        <div class="user-card">
            <img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIdOWn7eZASWXAYDIRpb9DnYkjzIQsdc02_KUi5zIzQ6AhoFNYj5iFnUuKbJ9BhJdWEuw&usqp=CAU'/>
            <h3>Teacher</h3>
        </div>

    </a>

    <a href='/ta' id="ta-login-card" class="card">

        <div class="user-card">
            <img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIdOWn7eZASWXAYDIRpb9DnYkjzIQsdc02_KUi5zIzQ6AhoFNYj5iFnUuKbJ9BhJdWEuw&usqp=CAU'/>
            <h3>Teaching Assistant</h3>
        </div>

    </a>

    <a href='/student' id="student-login-card" class="card">

        <div class="user-card">
            <img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIdOWn7eZASWXAYDIRpb9DnYkjzIQsdc02_KUi5zIzQ6AhoFNYj5iFnUuKbJ9BhJdWEuw&usqp=CAU'/>
            <h3>Student</h3>
        </div>

    </a>
    
</div>