<link rel="stylesheet" href="../assets/css/dashboard.css">

<h1>Home | Dashboard</h1>

<div id="info-wrapper">

    <span class="card">
        <div>23</div>
        Doubts Asked
    </span>

    <span class="card">
        <div>12</div>
        Doubts Resolved
    </span>

    <span class="card">
        <div>3</div>
        Doubts Escalated
    </span>

    <span class="card">
        <div>37</div>
        A.D.R.T (minutes)
    </span>

</div>

<section id="ta-report-section">

    <h3>TAs Reports</h3>

    <span class="ta-report">

        <strong style="color: rgb(51, 111, 190);">John Doe :</strong>

        <span>Doubts Accepted - 12</span>
        <span class="seperator">|</span>
        <span>Doubts Resolved - 8</span>
        <span class="seperator">|</span>
        <span>Doubts Escalated - 4</span>
        <span class="seperator">|</span>
        <span>Avg Doubt Activity Time - 14 Min</span>

    </span>

    <span class="ta-report">

        <strong style="color: rgb(51, 111, 190);">John Doe :</strong>

        <span>Doubts Accepted - 12</span>
        <span class="seperator">|</span>
        <span>Doubts Resolved - 8</span>
        <span class="seperator">|</span>
        <span>Doubts Escalated - 4</span>
        <span class="seperator">|</span>
        <span>Avg Doubt Activity Time - 14 Min</span>

    </span>

    <span class="ta-report">

        <strong style="color: rgb(51, 111, 190);">John Doe :</strong>

        <span>Doubts Accepted - 12</span>
        <span class="seperator">|</span>
        <span>Doubts Resolved - 8</span>
        <span class="seperator">|</span>
        <span>Doubts Escalated - 4</span>
        <span class="seperator">|</span>
        <span>Avg Doubt Activity Time - 14 Min</span>

    </span>

    <span class="ta-report">

        <strong style="color: rgb(51, 111, 190);">John Doe :</strong>

        <span>Doubts Accepted - 12</span>
        <span class="seperator">|</span>
        <span>Doubts Resolved - 8</span>
        <span class="seperator">|</span>
        <span>Doubts Escalated - 4</span>
        <span class="seperator">|</span>
        <span>Avg Doubt Activity Time - 14 Min</span>

    </span>

    <span class="ta-report">

        <strong style="color: rgb(51, 111, 190);">John Doe :</strong>

        <span>Doubts Accepted - 12</span>
        <span class="seperator">|</span>
        <span>Doubts Resolved - 8</span>
        <span class="seperator">|</span>
        <span>Doubts Escalated - 4</span>
        <span class="seperator">|</span>
        <span>Avg Doubt Activity Time - 14 Min</span>

    </span>

</section>