<link rel="stylesheet" href="../assets/css/studentLogin.css">

<div id="student-login">

    <div id="wrapper">

        <section id="student-register">

            <h1>Register | Student</h1>

            <form method="POST" action="/user/register/student">

                <label> Name </label>
                <input name="name" type="text" placeholder="Enter your Name">

                <label> Email </label>
                <input name="email" type="email" placeholder="Enter your Email">

                <label> Password </label>
                <input name="password" type="password" placeholder="Enter your Password">

                <button type="submit" id="student-register-btn">Register</button>

            </form>

        </section>

        <span id="seperator"></span>

        <section id="student-signin">

            <h2>Log In | Student</h2>

            <form method="GET" action="/user/login/student">

                <label> Email </label>
                <input name="email" type="email" placeholder="Enter your Email"></input>

                <label> Password </label>
                <input name="password" type="password" placeholder="Enter your Password"></input>

                <button type="submit" id="student-login-btn">Log In</button>

            </form>

        </section>

    </div>
    
</div>