#header{
    height: 50px;
    width: 100%;
    margin: auto;
    border: 1px solid rgb(207, 203, 203);
    display: flex;
    align-items: center;
    background-color: white;
    padding: 0.2%;
}

#user-details{
    position: relative;
    height: 100%;
    min-width: 200px;
    width: auto;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
}

#user-details img{
    height: 30px;
    background-color: white;
    border-radius: 50%;
    margin-right: 3%;
}

#user-details span{
    font-size: 17px;
    text-transform: uppercase;
}

#header a{
    margin-left: auto;
    height: 85%;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    font-size: 17px;
    margin-right: 0.6%;
    text-decoration: none;
    background-color: rgb(255, 51, 0);
}