#pending-doubts{
    margin-top: 7%;
    border: 1px solid blue;
}

.pending-doubt-wrapper{
    height: 60px;
    width: 50%;
    border: 1px solid red;
    margin: auto;
    position: relative;
    padding: 0.4%;
}

.pending-doubt-wrapper .pending-doubt-title{
    font-size: 20px;
    font-weight: 600;
}

.pending-doubt-wrapper .pending-doubt-time{
    display: block;
    margin-top: 1%;
}

.pending-doubt-wrapper a{
    position: absolute;
    right: 3%;
    top: 24%;
    height: 30px;
    width: 100px;
    border: 1px solid red;
    text-align: center;
    padding-top: 1%;
}