body{
    overflow: hidden;
    margin: 0%;
    font-family: 'Roboto', sans-serif;
    background: url('https://bs-uploads.toptal.io/blackfish-uploads/blog/article/content/cover_image_file/cover_image/20335/cover-default-cover-9-e9e2a4e027551681be020a158ca8db2c.png');
    background-position: center;
    background-size: contain;
}

#userSetupPage{
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    padding: 1%;
    border-radius: 15px;
    margin-left: 15%;
    margin-top: 10%;
    flex-wrap: wrap;
}

a{
    text-decoration: none;
    color: rgb(77, 75, 75);
}

.card .user-card{
    border: 1px solid rgb(192, 192, 192);
    padding: 0.5%;
    border-radius: 10px;
    background-color: white;
    transition: all 0.2s ease-in-out;
}

.card .user-card:hover{
    transform: scale(1.1);
}

.card .user-card h3{
    text-align: center;
}

.card .user-card img{
    width: 100%;
    border-radius: 10px;
}

#teacher-login-card{
    margin-right: 2%;
}

#ta-login-card{
    margin-right: 2%;
}